header {
    background-image: url('../img/01B028D5-B7BA-46A2-B36E-0E37849E8926_1_201_a.jpeg'); /* height 737px */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 50% 50%; */
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    margin-top: 4.375rem;   /* 70px */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

section.logo {
    background-color: #ffffff;
    width: 150px;
    padding: 30px; 
    position: absolute;
    top: -10px;
    border-radius: 0.8125rem;

}

section.logo img{
   width: 100%;
}

header nav {
    height: 46rem; /* 700px */
    display: flex;
    align-items: end;
    justify-content: center;
}

nav ul.main {

    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    
}

nav ul.main li {
    list-style: none;
    margin-top: -5rem;
}

nav ul.main li a {
    font-size: 1.5rem;
    color: #A8DADC;
    text-decoration: none;
    padding: 1.6rem;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;

    
}

nav ul.main li a:hover {
    background-color: #A8DADC;
    border-radius: 3px;
    color: #1D3557;
}

/* Laptop */
@media only screen and (max-width: 1024px){
    
}

/* Tablet */
@media only screen and (max-width: 768px){
    
}

/* Mobile */
@media only screen and (max-width: 425px){
    
}