section.qoute {
    padding: 6rem;
}

section.qoute p {
    text-align: center;
    font-size: 1.7rem;  
    font-style: italic;
    line-height: 4.5rem; /* 200% */
}

section.qoute p::before {
    content: '\201c';
    font-size: 6rem;
}

/* Laptop */
@media only screen and (max-width: 1024px){
    
}

/* Tablet */
@media only screen and (max-width: 768px){
    
}

/* Mobile */
@media only screen and (max-width: 425px){
    section.qoute {
        padding: 2rem;
    }
}